*{
    margin: 0;
    padding: 0;
    font-family: courier;
}
body{
    text-align: center;
    background-color: rgba(255, 169, 9, 0.164);
}
section{
    /* border: 1px solid; */
    width: min(500px,80%);
    margin: auto;
    margin-top: 7vh;
    box-shadow: 5px 5px 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    /* margin: 0px 20px; */
    letter-spacing: 2px;
}
.btn:hover{
    background-color: white;
    color: black;
}
input{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    width: 50%;
}
.Hint{
    height: 40px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
}
.HiddenNumber{
    border: 1px solid;
    width: 50px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    transition: 1s;
}
.HiddenNumber_1{
    background-color: lightgreen;
}


@media (max-width: 500px){
    .btn_wrapper{
        display: grid;
        gap: 10px;
    }
    .HintHigh{
        padding: 5px;
    }
    .HintLow{
        padding: 5px;
    }
}